<%= render 'layouts/form_header' %>

<div class="contents row">
  <p class="current_user_page">▶︎ <%= @nickname %> の投稿一覧</p>
  <% @posts.each do |post| %>
    <div class="content_post">
      <div class="new_image" style="background-image: url(<%= post.image %>);">
      </div>
      <div class="new_title">
        <%= post.title %>
      </div>
      <div class="new_text">
        <%= post.text %>
      </div>
    </div>
  <% end %>
  <%= paginate(@posts) %>
</div>

<%= render 'layouts/footer' %>